html {
    font-size: 14px;
    font-family: "Poppins"
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-bottom {
    height: 70px;
}

.img-profile-thumb {
    max-height: 3rem;
}
.min-h-screen{
    min-height: 100vh; 
}
