html {
    font-size: 14px;
    font-family: "Poppins"
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-bottom {
    height: 70px;
}

.img-profile-thumb {
    max-height: 3rem;
}
 

.slider-wrapper {
    /*margin: 1rem;*/
    position: relative;
    overflow: hidden;
}

.slides-container {
    /*height: calc(100vh - 2rem);*/
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.8s;
}

.slide {
    /*width: 100%;*/
    /*height: 100%;*/
    flex: 1 0 100%;
}

.c-container {
    background-color: #c5c6c6;
}

.c1 {
    background-color: #FF3737;
}
.c2 {
    background-color: #FF8337;
}
.c3 {
    background-color: #C29867;
}
.c4 {
    background-color: #FFE272;
}
.c5 {
    background-color: #9DE16F;
}
.c6 {
    background-color: #36D8B7;
}
.c7 {
    background-color: #53AFFF;
}
.c8 {
    background-color: #DE6FFF;
}
.c9 {
    background-color: #FF74BC;
}
.c10 {
    background-color: #BCCDDE;
}
.c11 {
    background-color: #222831;
    color: white;
}
.c12 {
    background-color: #FFFFFF;
}

/*.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 3.5rem;
    height: 3rem;
}*/