

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm d-flex flex-column p-0" id="mainNav">
    <div class="container p-2">
        <a class="navbar-brand fw-bold" href="/"><img src="~/assets/img/ydp.svg" class="img" width="65" /></a>
        <button class="navbar-toggler fs-2 border-0 mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link " href="#download">Kategorier</a></li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Sök
                    </a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
    <div class="collapse w-100 mb-0 bg-gradient-primary-to-secondary" id="collapseExample">
        <div class="container py-1">
            <form>
                <div class="bg-light rounded rounded-pill shadow-sm px-3 w-75 mx-auto">
                    <div class="input-group">
                        <input type="search" placeholder="Sugen på?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>