
<!-- Basic features section-->
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between mb-4 px-0 px-md-5 pb-1">
            <div class="col-12 col-lg-6">
                <h2 class="display-4 lh-1 mb-4">Säsongens Drinkar</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">Har har vi samlat de populäraste drinkarna för säsongen, kanske ger det dig insperation för egna kreationer? Dela gärna!</p>
            </div>
            <div class="col">
                <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img-top" alt="...">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="fw-bold me-2">1</span><span class="me-4">Minuter</span>
                            <i class="fa-solid fa-pipe"></i>
                            <span class="fw-bold ms-4">4</span><span class="ms-2">Ingridienser</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-4">
            <div class="col">
                <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img-top" alt="...">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="fw-bold me-2">1</span><span class="me-4">Minuter</span>
                            <i class="fa-solid fa-pipe"></i>
                            <span class="fw-bold ms-4">4</span><span class="ms-2">Ingridienser</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img-top" alt="...">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="fw-bold me-2">1</span><span class="me-4">Minuter</span>
                            <i class="fa-solid fa-pipe"></i>
                            <span class="fw-bold ms-4">4</span><span class="ms-2">Ingridienser</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img-top" alt="...">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="fw-bold me-2">1</span><span class="me-4">Minuter</span>
                            <i class="fa-solid fa-pipe"></i>
                            <span class="fw-bold ms-4">4</span><span class="ms-2">Ingridienser</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img-top" alt="...">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="fw-bold me-2">1</span><span class="me-4">Minuter</span>
                            <i class="fa-solid fa-pipe"></i>
                            <span class="fw-bold ms-4">4</span><span class="ms-2">Ingridienser</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img-top" alt="...">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="fw-bold me-2">1</span><span class="me-4">Minuter</span>
                            <i class="fa-solid fa-pipe"></i>
                            <span class="fw-bold ms-4">4</span><span class="ms-2">Ingridienser</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img-top" alt="...">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="fw-bold me-2">1</span><span class="me-4">Minuter</span>
                            <i class="fa-solid fa-pipe"></i>
                            <span class="fw-bold ms-4">4</span><span class="ms-2">Ingridienser</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>